
@CHARSET "UTF-8";

input{
	margin-top: 10px;
}
/* Botões */

.btnColor{
	background-color: #d9edf7;
}
.btnColor:hover{
	background-color: #ffffff;
}

.delta10{
	margin-top: 10px;
}

textarea {
   resize: none;
}
div.div-tabela{
	width:80%;
	margin-left:10%;
}


